<html>
    <head>

    </head>
    <body>
        <h1>Registrieren</h1>
        <form method="POST" action="/registrieren">
            Name:<input type="text" name="name" />
            E-Mail:<input type="text" name="email" />
            Password:<input type="text" name="password" />
            <input type="submit" value="Login">
        </form>
    </body>
</html>